@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-one: #FF7F3E;
    --color-two: #FFF6E9;
    --color-three: #80C4E9;
    --color-four: #604CC3;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Spectral SC", serif;
}
p, button, div {
    font-family: "Noto Sans", sans-serif;
}
button.back {
    align-self: flex-start;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-one);
    background: none;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .3125s;
}
button.back:hover {
    border: 1px solid var(--color-one);
    border-bottom-color: var(--color-three);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
#home button {
    margin: 2px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-two);
    background-color: var(--color-one);
    border: 1px dashed var(--color-two);
    border-radius: 5px;
    transition: .3125s;
}
#home button:hover {
    margin: 0;
    color: var(--color-three);
    background-color: var(--color-four);
    border: 3px solid var(--color-three);
}

#news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#news .article {
    max-width: 600px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    border: 1px solid var(--color-one);
    border-radius: 15px;
    color: var(--color-one);
    background-color: var(--color-two);
    transition-duration: .15625s;
}
#news .article:hover {
    box-shadow: 0px 10px 0px -5px var(--color-three);
    transform: translate(0px, -5px);
    transition-duration: .3125s;
}
#news .article:active {
    transform: translate(0, 0);
    box-shadow: none;
    scale: .95;
}
#news .article h3 {
    margin: -5px -5px 0 -5px;
    padding: 5px;
    background-color: white;
    color: black;
}
#news .article p {
    margin: 0;
}
#news .article .date {
    margin: -10px 0 0 -5px;
    text-align: right;
    color: var(--color-one);
    background: none;
    opacity: .75;
}
#news .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
    opacity: 1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition-duration: .625s;
}
#news .bg.closed {
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    filter: blur(20px);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    transition-duration: .3125s;
}
#news .bg .window {
    min-width: 80vw;
    max-width: 80vw;
    min-height: 80vh;
    max-height: 80vh;
    padding: 15px;
    border-radius: 20px;
    background-color: var(--color-two);
    border: 3px dashed var(--color-one);
}
#news .bg.closed .window {
    display: none;
}
#news .window article {
    overflow-y: auto;
}

.page-selector {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    color: var(--color-one);
    border-radius: 10px;
    overflow: hidden;
}
.page-selector button {
    flex: 1;
    color: var(--color-two);
    background: var(--color-one);
    border: none;
    font-size: 18px;
    transition: .15625s;
}
.page-selector button:hover {
    font-weight: bold;
    color: var(--color-three);
    background-color: var(--color-four);
}