@keyframes ldio-yzaezf3dcml {
    0% { opacity: 0 }
   20% { opacity: 1 }
  100% { opacity: 1 }
}
.ldio-yzaezf3dcml div {
  position: absolute;
  animation: ldio-yzaezf3dcml 1s linear infinite;
  box-sizing: border-box!important;
}
.ldio-yzaezf3dcml div:nth-child(1) {
  width: 44px;
  height: 44px;
  left: 34px;
  top: 128px;
  border-radius: 50%;
  background: var(--color-one);
}
.ldio-yzaezf3dcml div:nth-child(2) {
  width: 66px;
  height: 66px;
  left: 56px;
  top: 84px;
  border-radius: 0 66px 0 0;
  border: 20px solid var(--color-three);
  background: none;
  animation-delay: 0.1s;
  border-bottom: 0;
  border-left: 0
}
.ldio-yzaezf3dcml div:nth-child(3) {
  width: 110px;
  height: 110px;
  left: 56px;
  top: 40px;
  border-radius: 0 110px 0 0;
  border: 20px solid var(--color-four);
  background: none;
  animation-delay: 0.2s;
  border-bottom: 0;
  border-left: 0
}
.loadingio-spinner-radio-2by998twmg9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-yzaezf3dcml {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yzaezf3dcml div { box-sizing: content-box; }